{% extends "base.html" %}
{% load static %}

{% block body %}index-page bg-gray-200{% endblock body %}

{% block content %}
  <header class="header-2">
    <div class="page-header min-vh-50 relative"
         style="background-image: url('{% static "assets/img/bg10.jpg" %}')">
      <span class="mask bg-gradient-dark opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white font-weight-black pt-3 mt-n5">Newspapers</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <h1 class="p-2">
      Newspaper list
      <a href="{% url 'newspapers:newspaper-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>
    <div class="col-12 col-md-6 col-xl-4 mt-2 mx-2">
      {% include "includes/search_form.html" %}
    </div>
    {% if newspaper_list %}
      <section class="pb-2">
        <div class="row">
          {% for newspaper in newspaper_list %}
            <div class="col-lg-12">
              <div class="row">
                <div class="col-12 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
                  <h6 class="category text-info mt-3">
                    {% for topic in newspaper.topics.all %}
                      {{ topic.name }}
                    {% endfor %}
                  </h6>
                  <h3>
                    <a href="{% url 'newspapers:newspaper-update' pk=newspaper.id %}"
                       class="text-dark">{{ newspaper.title }}</a>
                  </h3>
                  <p>{{ newspaper.content|truncatewords:30 }}
                    <a href="{% url 'newspapers:newspaper-detail' pk=newspaper.id %}"
                       class="text-darker icon-move-right text-sm">Read More
                      <i class="fas fa-arrow-right text-xs ms-1"></i>
                    </a>
                  </p>
                  <p class="author">
                    by
                    {% for author in newspaper.publishers.all %}
                      <a href="{% url 'newspapers:redactor-detail' pk=author.id %}" class="ms-1">
                          <span class="font-weight-bold text-info">
                            {{ author.first_name }} {{ author.last_name }}
                          </span>
                      </a>,
                    {% endfor %}
                    {{ newspaper.published_date }}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    {% else %}
      <p>There are no newspapers in newspaper agency</p>
    {% endif %}
    {% include 'includes/pagination.html' %}
  </div>
{% endblock %}