{% extends 'base.html' %}
{% load static %}

{% block body %}index-page bg-gray-200{% endblock body %}

{% block content %}
  <header class="header-2">
    <div class="page-header min-vh-50 relative"
         style="background-image: url('{% static "assets/img/bg10.jpg" %}')">
      <span class="mask bg-gradient-dark opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white font-weight-black pt-3 mt-n5">Newspapers</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <h1 class="p-2">
      Delete newspaper with title <span class="text-info">{{ newspaper.title }}</span>?
    </h1>
    <form action="" method="post">
      {% csrf_token %}
      <input type="submit" value="Yes" class="btn btn-danger link-to-page">
      <button type="reset" onclick="goBack()" class="btn btn-secondary">Back</button>
    </form>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
      function goBack() {
          window.history.back();
      }
  </script>
{% endblock %}